@charset "UTF-8";
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
}
*::before {
  vertical-align: middle;
}
*::after {
  vertical-align: middle;
}

script, style {
  display: none !important;
}

html {
  font-size: 12px;
}
@media (min-width: 400px) {
  html {
    font-size: 12.5px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 13.5px;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 14.5px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 15px;
  }
}

body {
  min-width: 320px;
  color: #222;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: 0.3s;
}
a[href^=tel] {
  cursor: initial;
  pointer-events: none;
}
a[href] {
  cursor: pointer;
}
a[href]:hover {
  opacity: 0.7;
}

/* block */
main, article, section, header, footer, aside, nav {
  display: block;
}

h1 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

h2 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

h3 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  word-break: break-all;
  overflow-wrap: break-word;
}

h4 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  overflow-wrap: break-word;
}

h5 {
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  overflow-wrap: break-word;
}

p {
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 2;
}

ul {
  padding: 0;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
}

dt {
  word-break: break-all;
  overflow-wrap: break-word;
}

dd {
  word-break: break-all;
  overflow-wrap: break-word;
}

th {
  word-break: break-all;
  overflow-wrap: break-word;
}

td {
  word-break: break-all;
  overflow-wrap: break-word;
}

address {
  font-style: normal;
}

iframe {
  max-width: 100%;
}

code {
  font-family: "Consolas", "Menlo", "Courier New", "Courier", "メイリオ", "Meiryo", monospace;
}

video {
  display: block;
  max-width: 100%;
}

/* inline */
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
}

strong, em, i {
  font-style: normal;
}

time {
  word-break: keep-all;
}

mark {
  background-color: transparent;
}

u {
  text-decoration: none;
}

/* form */
input {
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  max-width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  padding: 0 0.5em;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100em #FAFAFA inset;
}

[type=text] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em;
}

[type=email] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em;
}

[type=password] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  min-height: 2.5em;
}

[type=checkbox] {
  vertical-align: middle;
}

[type=radio] {
  vertical-align: middle;
}

[type=file] {
  max-width: 100%;
  padding: 0.5em;
}

[type=submit] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

[type=button] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 5em;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  padding: 0.5em;
}

select {
  max-width: 100%;
  min-height: 2.5em;
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  background-color: #FFF;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  vertical-align: middle;
  padding: 0.5em;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  font-family: "游ゴシック Medium", "游ゴシック", "游ゴシック体", "Yu Gothic Medium", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: bold;
  padding: 0.5em;
  float: left;
}
legend + * {
  clear: both;
}

label {
  display: inline-block;
  cursor: pointer;
}

button {
  font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  padding: 0.5em;
  cursor: pointer;
}

/* fancybox fix */
#fancybox-wrap {
  box-sizing: content-box;
}

body {
  color: #777;
}

.more {
  margin-left: 2rem;
  display: inline-block;
  color: #FFF;
  background-color: lightgray;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  padding: 0.05rem 1rem;
}

.less {
  display: inline-block;
  color: #FFF;
  background-color: lightgray;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  padding: 0.05rem 1rem;
  margin-left: 2rem;
}

.wrapper::after {
  content: "";
  display: block;
  clear: both;
}

aside.drawer {
  background: #ffffffe7;
  height: 200%;
  width: 20rem;
  position: absolute;
  top: 0;
  left: -20rem;
  transition: all 0.5s;
  z-index: 5;
}
aside.drawer.active {
  left: 0;
}

section.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #68686885;
  opacity: 0;
  z-index: -1;
}
section.overlay.active {
  opacity: 1;
  z-index: 3;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px #eee;
  font-size: 1.4rem;
  position: fixed;
  width: 100vw;
  background: #fff;
}
.header__right ul {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
}
.header__right ul li {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.header__right ul li.youtube a {
  font-size: 1.8rem;
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
  position: relative;
}
.header__right ul li.youtube a i {
  color: red;
}
.header__right ul li.youtube a h2 {
  font-size: 1.4rem;
  letter-spacing: -0.2rem;
}
.header__right ul li.youtube a sup {
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -1rem;
}
.header__left ul {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
}
.header__left ul li {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.header__left ul li img {
  background: no-repeat center center;
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

main article section.theater {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
main article section.theater img {
  width: 100%;
  max-height: 60rem;
}
main article section.overview {
  padding-right: 1rem;
  padding-left: 1rem;
}
main article section.overview header {
  box-shadow: 0 2px 5px #eee;
}
main article section.overview header h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.3rem;
}
main article section.overview header .listLarge {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main article section.overview header .listLarge .listLeft {
  /* prefix -> -webkit-*/
  /* no prefix*/
  display: flex;
}
main article section.overview header .listLarge .listLeft li {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
main article section.overview header .listLarge .listRight {
  font-size: 1.3rem;
  /* prefix -> -webkit-*/
  /* no prefix*/
  display: flex;
}
main article section.overview header .listLarge .listRight li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
main article section.overview header .listLarge .listRight li a {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
}
main article section.overview header .listLarge .listRight li a h6 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
main article section.overview section.infoBox {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 2px 5px #eee;
}
main article section.overview section.infoBox section.contributor {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
main article section.overview section.infoBox section.contributor p img {
  background: no-repeat center center;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
main article section.overview section.infoBox section.contributor .contributorInfo {
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
main article section.overview section.infoBox section.contributor .contributorInfo h3 {
  font-size: 1.2rem;
}
main article section.overview section.infoBox section.contributor .contributorInfo h6 b {
  font-size: 0.8rem;
}
main article section.overview section.infoBox section.contributor .contributorInfo h6 small {
  font-size: 0.8rem;
}
main article section.overview section.infoBox section.contributor button {
  display: inline-block;
  color: #FFF;
  background-color: #e40202;
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 2px;
  padding: 0.4rem 1.5rem;
  outline: none;
}
main article section.overview section.infoBox section.description {
  padding-right: 2rem;
  padding-left: 2rem;
}
main article section.overview section.infoBox section.description pre {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main article section.overview section.infoBox section.description section.descriptionBottom ul li {
  font-weight: 700;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
main article section.overview section.infoBox section.description section.descriptionBottom ul li dl {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
}
main article section.overview section.infoBox section.description section.descriptionBottom ul li dl dt {
  flex-basis: 30%;
  width: 30%;
  max-width: 30%;
  word-wrap: break-word;
}
main article section.overview section.infoBox section.description section.descriptionBottom ul li dl dd {
  flex-basis: 70%;
  width: 70%;
  max-width: 70%;
  font-weight: 300;
}
main article section.related {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
main article section.related h5 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
main article section.related ul.relatedVideos {
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  /* no prefix*/
  display: flex;
  flex-direction: column;
}
main article section.related ul.relatedVideos li.relatedVideosItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  /* prefix -> -webkit-*/
  display: -webkit-flex;
  -webkit-align-items: center;
  /* no prefix*/
  display: flex;
  align-items: center;
}
main article section.related ul.relatedVideos li.relatedVideosItem p img {
  width: 8rem;
  height: 5rem;
}
main article section.related ul.relatedVideos li.relatedVideosItem .info {
  padding-right: 1rem;
  padding-left: 1rem;
}
main article section.related ul.relatedVideos li.relatedVideosItem .info li h5 {
  margin: 0;
}
main article section.related ul.relatedVideos li.relatedVideosItem .info li h6 {
  font-size: 0.9rem;
}