<!DOCTYPE html>
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Document
        %link(rel="stylesheet" href="css/style.css")/
        %script(src="https://kit.fontawesome.com/aae2613cc2.js")
        %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        %script(src="js/main.js")
    %body
        %header.header
            %section.header__right
                %ul
                    %li
                        %a(href="#")
                            %i.fas.fa-bars
                    %li.youtube
                        %a(href="#")
                            %i.fab.fa-youtube
                            %h2
                                YouTube
                            %sup
                                JP
            %section.header__middle
                %form(action="")
                    %input(type="text")/
            %section.header__left
                %ul
                    %li
                        %a(href="#")
                            %i.fas.fa-video
                    %li
                        %a(href="#")
                            %i.fas.fa-th
                    %li
                        %a(href="#")
                            %i.fas.fa-bell
                    %li
                        %a(href="#")
                            %img(src="./img/images.jpeg" alt="avatar")/
        %main
            %article
                %section.theater
                    %img(src="./img/mountain.jpeg" alt="moutain")/

                %section.overview
                    %header
                        %h3
                            overjoyed
                        %ul.listLarge
                            %li
                                %ul.listLeft
                                    %li
                                        %b
                                            3,424,437
                                        %small
                                            views
                                    %li
                                        May 9, 2020
                            %li
                                %ul.listRight
                                    %li
                                        %a(href="#")
                                            %i.fas.fa-thumbs-up
                                            %h6
                                                39K
                                    %li
                                        %a(href="#")
                                            %i.fas.fa-thumbs-down
                                            %h6
                                                1.2K
                                    %li
                                        %a(href="#")
                                            %i.fas.fa-share
                                            %h6
                                                SHARE
                                    %li
                                        %a(href="#")
                                            %i.fas.fa-file-download
                                            %h6
                                                SAVE
                                    %li
                                        %a(href="#")
                                            %i.fas.fa-ellipsis-h
                    %section.infoBox
                        %section.contributor
                            %p
                                %img(src="./img/avatar.jpg" alt="")/
                            %div.contributorInfo
                                %h3
                                    Joe Soon Kim
                                %h6
                                    %b
                                        1.76K
                                    %small
                                        subscribers
                            %button
                                subscribe
                        %section.description#description
                            %pre
                                Stevie Wonder - Lately, My Cherie Amour Live.
                                Re uploading since the current video online is broken.
                                I don't own any copyrights to this music video and only sharing for people to enjoy
                                %br/

                                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                Sit illum esse, dolorem repellendus suscipit ab.
                                velit quisquam iure beatae delectus sint deserunt officiis.
                                aliquam neque ad id minima rem. Placeat.
                            %section.descriptionBottom
                                %ul
                                    %li
                                        Music in this video
                                    %li
                                        Learn more
                                    %li
                                        Listen ad-free with YouTube Premium
                                    %li
                                        %dl
                                            %dt
                                                song
                                            %dd
                                                My Cerie Amour(live)
                                    %li
                                        %dl
                                            %dt
                                                Artist
                                            %dd
                                                stevie wonder
                                    %li
                                        %dl
                                            %dt
                                                Album
                                            %dd
                                                Anos 60 I
                                    %li
                                        %dl
                                            %dt
                                                Licensed to Youtube by
                                            %dd
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos modi odit labore quae aperiam alias, ea molestiae maiores. Consequuntur, vitae?


                
                %section.related
                    %ul
                        %li
                            111111111
                        %li
                            222222222
                        %li
                            333333333
